* {
    margin: 0;
    padding: 0;
}

#parent {
    color: #00D000;
    background: url('asd.png') no-repeat;
    margin: 10px;
    margin: 0 auto;
    margin: 10px 10px;
    margin: 10px 10px 10px 10px;
    /* test comment 0*/
}

/* test comment 1*/

.container {
    border: 1px solid gray;
}

.container input[type="text"] {
    color: blue;
}

input[type]
{

}

.container input[type="text"]:hover {
    color: black;
}

.container > input[type="password"] {

}

.container input {

}
.container > input {

}
.container > * > input {

}

.container {
    border: 1px solid gray;
}

.container.text-content.main-container {

}

/* test comment 3
    muttiline
*/

a[href^="#"] {

}